{%extends 'base.html'%}
{%block content%}
{%load static%}
<div class="slider-area">
    <div class="swiper-container slider__active">
        <div class="slider-wrapper swiper-wrapper">
            {% for i in sliders %}
            <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="/{{i.image}}">

                <div class="container">
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="slider-content">
                                <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1.5s">
                                    <a href="product-details.html" class="st-btn b-radius">{{i.discount_del}}</a>
                                </div>
                                <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">SALE&nbsp;{{i.sale}}% &nbsp;OFF<br>{{i.brand_name}}</h2>
                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Discount&nbsp;{{i.dicount}}%&nbsp;On Products</p>
                                <div class="slider-bottom-btn mt-75">
                                    <a data-animation="fadeInUp" data-delay="1.15s" href="{{i.link}}" class="st-btn-b b-radius">Click now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            <div class="main-slider-paginations"></div>
        </div>
    </div>
</div>
{%endblock%}